<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   Copyright (C) 2026, Philipp Hoenisch and others

   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License 2.0
   which accompanies this distribution, and is available at
   https://www.eclipse.org/legal/epl-2.0/

   SPDX-License-Identifier: EPL-2.0
-->
<plugin>
   <!-- Preference page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.egit.pullrequest.preferences"
            class="org.eclipse.egit.pullrequest.internal.ui.PullRequestPreferencePage"
            id="org.eclipse.egit.pullrequest.preferences.PullRequestPreferencePage"
            name="%PullRequestPreferencePage.name">
         <keywordReference
               id="org.eclipse.egit.pullrequest.preferences.PullRequestPreferencePage">
         </keywordReference>
      </page>
   </extension>

   <!-- Preference keywords -->
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.egit.pullrequest.preferences.PullRequestPreferencePage"
            label="%PullRequestPreferencePage_keywords">
      </keyword>
   </extension>

   <!-- Views -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.egit.pullrequest.PullRequestCategory"
            name="%PullRequestCategory_name">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.egit.pullrequest.PullRequestCategory"
            class="org.eclipse.egit.pullrequest.internal.ui.PullRequestListView"
            icon="icons/obj16/gitrepository.png"
            id="org.eclipse.egit.pullrequest.PullRequestListView"
            name="%PullRequestListView">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.egit.pullrequest.PullRequestCategory"
            class="org.eclipse.egit.pullrequest.internal.ui.PullRequestCommitsView"
            icon="icons/obj16/gitrepository.png"
            id="org.eclipse.egit.pullrequest.PullRequestCommitsView"
            name="%PullRequestCommitsView">
      </view>
   </extension>

   <!-- Editors -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.egit.pullrequest.internal.ui.overview.PullRequestOverviewView"
            icon="icons/obj16/gitrepository.png"
            id="org.eclipse.egit.pullrequest.PullRequestOverviewEditor"
            name="%PullRequestOverviewView">
      </editor>
   </extension>

   <!-- Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.egit.pullrequest.internal.ui.PullRequestPerspectiveFactory"
            icon="icons/obj16/gitrepository.png"
            id="org.eclipse.egit.pullrequest.PullRequestReviewPerspective"
            name="%PullRequestReviewPerspective_name">
         <description>
            %PullRequestReviewPerspective_description
         </description>
      </perspective>
   </extension>

   <!-- Label Decorator for comment counts -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            id="org.eclipse.egit.pullrequest.commentDecorator"
            label="%PullRequestCommentDecorator_label"
            lightweight="true"
            adaptable="true"
            class="org.eclipse.egit.pullrequest.internal.ui.PullRequestCommentDecorator"
            state="true">
         <enablement>
            <or>
               <objectClass name="org.eclipse.core.resources.IResource"/>
               <objectClass name="org.eclipse.compare.IResourceProvider"/>
            </or>
         </enablement>
         <description>
            %PullRequestCommentDecorator_description
         </description>
      </decorator>
   </extension>
</plugin>
